<div class="container">
  <h1><%= @climbing_route.name %></h1>
  <h3>Crag: <%= @climbing_route.crag.name %></h3>
  <ul>
    <% @climbing_route.attributes.each do |attr| %>
      <li><%= attr.first %>: <%= attr.last %></li>
    <% end %>
  </ul>
  <%= link_to 'Dashboard', admin_path %>
  <%= link_to 'Edit', admin_edit_climbing_route_path(@climbing_route) %>
</div>
