<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Grimpouille</h1>

      <%= form_with url: recommendations_path, method: :get do |form| %>
        <%= form.label :query, "Select a route to project" %>
        <%= form.collection_select :route_id, @defined_routes, :id, :format_name_and_grade_for_select, placeholder: @project ? @project.name : @defined_routes.first.format_name_and_grade_for_select %>
        <%= form.submit "Search" %>
      <% end %>

      <ul>
        <% if @response %>
          <h3 class='m-3'>Recommendations for <%= @project.format_name_and_grade_for_select %> </h3>
          <% @response.each do |recommendation| %>
            <li><%= recommendation %></li>
          <% end %>
        <% else %>
          <%= @error_message %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
